[submodule "pilsbot_driver/src/hoverboard"]
	path = pilsbot_driver/src/hoverboard
	url = https://github.com/pilsbot/bipropellant-hoverboard-api.git
[submodule "pilsbot_driver/src/head_mcu"]
	path = pilsbot_driver/src/head_mcu
	url = https://github.com/pilsbot/head_mcu.git
[submodule "pilsbot_driver/src/hoverboard-firmware"]
	path = pilsbot_driver/src/hoverboard-firmware
	url = https://github.com/pilsbot/bipropellant-hoverboard-firmware.git
[submodule "pilsbot_driver/src/pid-controller"]
	path = pilsbot_driver/src/pid-controller
	url = https://github.com/Cirromulus/minimal-PID-controller
[submodule "pilsbot_driver/pid-controller"]
	path = pilsbot_driver/pid-controller
	url = https://github.com/Cirromulus/minimal-PID-controller
